
<div  style="background-color: #002752; height: 250px">
  <div class="container" id="footer_container">
    <hr>
    <footer>
      <!--占总屏宽的一个footer-->
      <section class="footer_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="fot_support">
                <ul>
                  <li><span>Contacts</span></li>
                  <li><a href="#">+44 (0) 121 415 8695</a></li>
                  <li><a href="#">z.j.zhang@bham.ac.uk</a></li>
                </ul>

                <ul>
                  <li><span>Address</span></li>
                  <li><a href="#"></a>School of Chemical Engineering
                    The University of Birmingham
                    Edgbaston
                    Birmingham
                    B15 2TT
                    UK</li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </section>

    </footer>

  </div>


  <div class="row">
    <div class="col-md-6" style="color: floralwhite; margin-top: 20px; text-align: center">
      <p>@2019 by Zhenyu Zhang</p>
    </div>

    <div class="col-md-6" style="color: floralwhite; margin-top: 20px; text-align: center">
      <p><a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" style="color: floralwhite; ">Follow @ZhenyuJZhang</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
    </div>

  </div>



</div>

