
<div  style="background-color: #002752; height: 250px">
  <div class="container" id="footer_container">
    <hr>
    <footer>
      <!--占总屏宽的一个footer-->
      <section class="footer_white">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="fot_support">
                <ul>
                  <li><span>Contacts</span></li>
                  <li><a href="#">+61 420909356</a></li>
                  <li><a href="#">1124236437@qq.com</a></li>
                </ul>

                <ul>
                  <li><span>Address</span></li>
                  <li><a href="#"></a>
                    70/101 Hennessy St, Beloconnen, ACT 2617

                    </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </section>

    </footer>

  </div>


  <div class="row">
    <div class="col-md-6" style="color: floralwhite; margin-top: 20px; text-align: center">
      <p>@2019 by Zhifeng Wang</p>
    </div>

    <div class="col-md-6" style="color: floralwhite; margin-top: 20px; text-align: center">
      <p><a href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" style="color: floralwhite; ">Follow @Zhifeng Wang</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
    </div>

  </div>



</div>

