<div class="bigborder"  style="font-family: 'Comic Sans MS'; ">

  <img src="assets/tree.PNG"  class="treeimage bigbuttons">
  <div style="height: 100px"></div>
  <div class="buttonbox">
    <div class="bigbuttons">
    <p class="leaf1">
      <button type="button" class="btn btn-lg topbutton1" >
        Me
      </button>
    </p>

    <p class="leaf2">
      <button type="button" class="btn btn-lg topbutton2" >
        Experience
      </button>
    </p>


    <p class="leaf3">
      <button type="button" class="btn btn-lg topbutton3" >
        Objective
      </button>
    </p>


    <p class="leaf4">
      <button type="button" class="btn btn-lg topbutton4" >
        Skills
      </button>
    </p>

    <p class="leaf5">
      <button type="button" class="btn btn-lg topbutton5" >
        Education
      </button>
    </p>
    </div>
    <div class="smallbuttons" style="margin-top: -60px">
      <button type="button" class="btn btn-lg topbutton1" style="background-color: lightsteelblue; color: white">
      Me
      </button>
      <button type="button" class="btn btn-lg topbutton1" style="background-color: orangered;color: white">
        Objective
      </button>
      <button type="button" class="btn btn-lg topbutton1" style="background-color: forestgreen;color: white">
      Experience
      </button>
      <button type="button" class="btn btn-lg topbutton1" style="background-color: orange;color: white">
      Skills
      </button>
      <button type="button" class="btn btn-lg topbutton1" style="background-color: purple;color: white">
      Education
      </button>
    </div>

  </div>

  <div class="buttonpartright bigbuttons">
  </div>
  <div style="height: 100px"></div>
</div>

<div class="maincontent">
<div class="bigborder" style="background-color: lightsteelblue;">

  <div class="upperspace" ></div>
  <div class="innerbox" style="font-family: 'Comic Sans MS'; ">
    <img src="assets/Ha.png" class="rounded-circle" width="100" height="100" style="alignment: center; margin-top: -50px">
    <h4>
      <br>
      I am Harrison, a full stack web developer.
      <br>
      <br>
      I am passionate about writing code.
      <br>
      <br>
      I have strong logical idea and prefer using all kinds of approaches to solve the problem.
      <br>
      <br>
      I have excellent communication skills and work well in the agile environment.
      <br>
      <br>
      I prefer to learn new technology and innovate new features, focus on details and fix the bugs and enhance functionality.
      <br>
      <br>
      Contact with me, or looking more.
      <br>
      <br>
    </h4>

    <div class="icons">
    <a  href= mailto:sample@163.com title="This is an HTML liked image">
      <img class="rounded-circle" src="assets/emailicon.png" width="45" height="45"  />
    </a>

    <a  href="https://github.com/wangzhifengharrison/zhifengwang" title="This is an HTML liked image">
      <img class="rounded-circle" src="assets/githubicon.png" width="45" height="45" style="margin-left: 5%"/>
    </a>

    <a  href= tel:0420909356 title="This is an HTML liked image">
      <img class="rounded-circle" src="assets/phoneicon.png" width="45" height="45" style="margin-left: 5%"/>
    </a>
  </div>
    <br>
  </div>
  <div class="upperspace"></div>
</div>

<div class="bigborder" style="background-color: orangered; ">

  <div  class="upperspace"></div>
  <div  class="innerbox">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12" style="font-weight: bolder">
          <h3>Work Experience</h3>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <h4>
            Personal Website
          </h4>
          <p>
            Using Angular framework to build Professor Jason’s website which is mainly used to introduce the research results.
          </p>
<!--read more-->
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     href="#collapseOne">
                    Read more
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  1. Designing Welcome page, Research page, Publication page,
                  People page and photos page by using the Typescript, CSS and HTML.
                  <br>
                  <br>
                  2. Every page will have responsive features which can adjust
                  the size of screen according to different devices,
                  which mainly use the Bootstrap.
                </div>
              </div>
            </div>
          </div>




        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <h4>
            Australian National Character Check
          </h4>
          <p>
            Using Angular framework to build front-end.
          </p>

          <div class="panel-group" id="accordion2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     href="#collapseOne2">
                    Read more
                  </a>
                </h4>
              </div>
              <div id="collapseOne2" class="panel-collapse collapse in">
                <div class="panel-body">
                  1. Designing home page and payment page by using HTML,
                  CSS, Typescript, Bootstrap, PHP.
                  <br>
                  <br>
                  2. Designing the payment process which include PayPal API,
                  Stripe payment API, Google payment API by using PHP and Typescript.
                  <br>
                  <br>
                  3. Real website:
                  <a href="https://australiannationalcharactercheck.com.au">ANCC WEBSITE</a>
                </div>
              </div>
            </div>
          </div>





        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <h4>
            Improved Australian Post
          </h4>

          <p>
            Using SpringBoot framework to build back-end.
          </p>

          <div class="panel-group" id="accordion3">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"
                     href="#collapseOne3">


                    Read more
                  </a>
                </h4>
              </div>
              <div id="collapseOne3" class="panel-collapse collapse in">
                <div class="panel-body">
                  1. Using spider crawler technology to identify problems of Australian Post.
                  <br>
                  <br>
                  2. Web design for Australian Post to solve time conflict
                  of AUSPOST company and customers.
                  <br>
                  <br>
                  3. Back-end development for Australian post APP.
                  <br>
                  <br>
                  4. Using Spring boot framework to develop back-end and provide API for front-end.
                </div>
              </div>
            </div>
          </div>




        </div>
      </div>
    </div>

  </div>
  <div  class="upperspace" ></div>
</div>


<div class="bigborder" style="background-color: forestgreen; ">

  <div  class="upperspace"  ></div>
  <div class="innerbox" >
    <img src="assets/object.png" class="rounded-circle" width="100" height="100" style="alignment: center; margin-top: -50px;margin-left: 90%">
    <h4>
      <div style="font-weight: bolder">Objective</div>
      <br>
      My master’s degree is computer science and I graduated from Australian National University. I have excellent web development skills and can work for both front-end and back-end development. I am familiar with all kinds of popular programming languages such as HTML, CSS, JavaScript, TypeScript, PHP, Bootstrap, MYSQL as well as popular frameworks such as Angular and SpringBoot. I am very interested in the web development filed and have about one-year experiences which can help me apply my programming skills in the web development well. I wish to find a job in the web development field.
    <br>
      <br>
      <br>
    </h4>
  </div>
  <div  class="upperspace"  ></div>
</div>

<div class="bigborder" style="background-color: orange; ">

  <div  class="upperspace"></div>
  <div class="innerbox" >
    <img src="assets/skillsicon2.png" class="rounded-circle" width="100" height="100" style="alignment: center; margin-top: -50px;margin-left: 90%">
    <h4>
      <div style="font-weight: bolder">Skills</div>

      <br>
      Computer:
      <br>
      Python, MYSQL：Data Analysis Skills, Business Analysts Skills.
      <br>
      JAVASCRIPT, PHP, HTML, CSS, Django: Web Design and Develop Skills..
      <br>
      C Language, C++, MATLAB: Developing Optimized solutions Skills
      <br>
      Android: APP Development Skills
      <br>
      <br>
      Personal:
      <br>
      Effective and efficient communication skills, IELTS: 7.
      <br>
      Logical thinking and critical thinking skills.
      <br>
      Multitasks working and patient attitude.
      <br>
      Willing to learn and working positively.
      <br>
      High performance in either team work or individual work environment.
      <br>
      <br>
    </h4>


  </div>
  <div  class="upperspace" ></div>
</div>

<div class="bigborder" style="background-color: purple;">

  <div  class="upperspace" ></div>
  <div class="innerbox" >
    <img src="assets/graduationicon.jpg" class="rounded-circle" width="100" height="100" style="alignment: center; margin-top: -50px;margin-left: 90%">

    <h4>
      <br>
      <br>
      <div style="font-weight: bolder">Education</div>
      <br>
      University: Australian National University ACT, Australia
      <br>
      Major: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Master of Computing  02/2017 – 11/2018
      <br>
      <br>
      University:  &nbsp;Liaoning Technical University Fuxin, China
      <br>
      Major: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bachelor of Engineering in Mechatronic Engineering 09/2011-07/2015
      <br>
      GPA:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.8 /4.0
      <br>
      Ranking: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1/68 (Class), 6/699 (Department)
    <br>
      <br>
      <br>
    </h4>
  </div>
  <div  class="upperspace" ></div>
</div>


</div>
