.bigborder{
  height: auto;
}
.upperspace{
  height: 100px;
}
.innerbox{
  background-color: whitesmoke;
  height: auto; margin-left: 10%; margin-right: 10%;padding-left: 5%;padding-right: 5%;
  font-family: 'Comic Sans MS';
}
.buttonbox{
  margin-left: 0;
  margin-right: 15%;
  width: 70%;
}
.treeimage{
  width:760px; height:auto;
}

/*.leaf {*/
  /*border-radius: 5px 300px 3px 300px;*/
  /*background: #6DC75F;*/
  /*width: 90px;*/
  /*height: 90px;*/
  /*margin-left: 36%;*/
  /*margin-top: -499px;*/
/*}*/

.leaf1 {
  border-radius: 5px 300px 3px 300px;
  background: #6DC75F;
  width: 90px;
  height: 90px;
  margin-top:-300px;
  margin-left: 60px;
  position: absolute;
}

.leaf2 {
  border-radius: 5px 300px 3px 300px;
  background: #6DC75F;
  width: 150px;
  height: 90px;
  margin-top: -453px;
  margin-left: 80px;
  position: absolute;
}

.leaf3 {
  border-radius: 5px 300px 3px 300px;
  background: #6DC75F;
  width: 130px;
  height: 90px;
  margin-top: -285px;
  margin-left: 350px;
  position: absolute;
}
.leaf4 {
  border-radius: 5px 300px 3px 300px;
  background: #6DC75F;
  width: 90px;
  height: 90px;
  margin-top: -425px;
  margin-left: 440px;
  position: absolute;
}
.leaf5 {
  border-radius: 5px 300px 3px 300px;
  background: #6DC75F;
  width: 130px;
  height: 90px;
  margin-top: -314px;
  margin-left: 600px;
  position: absolute;
}

.topbutton1{
  color: lightsteelblue; margin-left: 2%;  width:15%;; margin-top: 20px;background-color: transparent;
}
.topbutton2{
  color: orangered; margin-left: 2%; width:15%;; margin-top: 20px;background-color: transparent;
}
.topbutton3{
  color: forestgreen; margin-left: 2%; width:15%;; margin-top: 20px;background-color: transparent;
}
.topbutton4{
  color: orange; margin-left: 2%; width:15%;; margin-top: 20px;background-color: transparent;
}
.topbutton5{
  color: purple; margin-left: 2%; width:15%;; margin-top: 20px;background-color: transparent;
}
.maincontent{
  margin-top: 20px;
}

.buttonpartright{
  top: 100px; background-color: forestgreen; width: 30%; left: 60%; height: 200px; position: absolute
}
.icons{
  margin-left: 80%;
}

@media screen and (max-width: 1080px){
  .icons{
    margin-left: 70%;
  }
}
@media screen and (max-width: 725px){
  .icons{
    margin-left: 60%;
  }
}
@media screen and (max-width: 540px){
  .icons{
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px){
  .topbutton1 {
    margin-left: 2%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton2 {
    margin-left: 2%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton3 {
    margin-left: 2%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton4 {
    margin-left: 2%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton5 {
    margin-left: 2%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .buttonpartright{
    width: 50%;
    left: 10px;
    margin-top: 250px;
    position: absolute;
  }
}
@media screen and (max-width: 800px){
.treeimage{
  width:600px; height:auto;
}
  .leaf1 {
    margin-top:-260px;
    margin-left: 60px;
  }
  .leaf2{
    margin-top: -393px;
    margin-left: 60px;
  }
  .leaf3{
    margin-top: -245px;
    margin-left: 280px;
  }
  .leaf4{
    margin-top: -375px;
    margin-left: 340px;
  }
  .leaf5{
    margin-top: -274px;
    margin-left: 480px;
  }
  .buttonpartright{
    top: 30px;position: absolute
  }
}

@media screen and (max-width: 610px){
  .treeimage{
    width:400px; height:auto;
  }
  .leaf1 {
    width: 60px;
    height: 60px;
    margin-top:-205px;
    margin-left: 30px;
  }
  .leaf2{
    width: 105px;
    height: 80px;
    margin-top: -313px;
    margin-left: 40px;
  }
  .leaf3{
    width: 105px;
    height: 80px;
    margin-top: -200px;
    margin-left: 180px;
  }
  .leaf4{
    width: 60px;
    height: 60px;
    margin-top: -285px;
    margin-left: 220px;
  }
  .leaf5{
    width: 105px;
    height: 80px;
    margin-top: -212px;
    margin-left: 330px;
  }
  .topbutton1{
    font-size: 0.9em;
  }
  .topbutton2{
    font-size: 0.9em;
  }
  .topbutton3{
    font-size: 0.9em;
  }
  .topbutton4{
    font-size: 0.9em;
  }
  .topbutton5{
    font-size: 0.9em;
  }
  .buttonpartright{
    top: -30px;position: absolute
  }
}
@media screen and (min-width: 450px) {
  .smallbuttons{
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .bigbuttons{
    display: none;
  }
.topbutton1{
  width: 80%;
}
}
