.bigborder{
  height: auto;
}
.upperspace{
  height: 100px;
}
.innerbox{
  background-color: whitesmoke;
  height: auto; margin-left: 10%; margin-right: 10%;padding-left: 5%;padding-right: 5%;
}
.buttonbox{
  margin-left: 0;
  margin-right: 15%;
  width: 70%;
}
.topbutton1{
  background-color: lightsteelblue; margin-left: 10%;  width:15%;; margin-top: 20px;
}
.topbutton2{
  background-color: orangered; margin-left: 10%; width:15%;; margin-top: 20px;
}
.topbutton3{
  background-color: forestgreen; margin-left: 10%; width:15%;; margin-top: 20px;
}
.topbutton4{
  background-color: orange; margin-left: 22%; width:15%;; margin-top: 20px;
}
.topbutton5{
  background-color: purple; margin-left: 10%; width:15%;; margin-top: 20px;
}
.maincontent{
  margin-top: 20px;
}

.buttonpartright{
  top: 100px; background-color: forestgreen; width: 30%; left: 60%; height: 200px; position: absolute
}
.icons{
  margin-left: 80%;
}

@media screen and (max-width: 1080px){
  .icons{
    margin-left: 70%;
  }
}
@media screen and (max-width: 725px){
  .icons{
    margin-left: 60%;
  }
}
@media screen and (max-width: 540px){
  .icons{
    margin-left: 50px;
  }
}
@media screen and (max-width: 1000px){
  .topbutton1 {
    margin-left: 20%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton2 {
    margin-left: 20%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton3 {
    margin-left: 20%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton4 {
    margin-left: 20%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .topbutton5 {
    margin-left: 20%; margin-right: 20%;width: 60%; margin-top: 20px;
  }
  .buttonpartright{
    top: 120px;
    height: 320px;
  }
}
