<br>
<div class="row">
  <h2 class="col-md-12" style="font-size: 30px; color: #0056b3;">Dr Zhenyu Jason Zhang</h2>

  <div class="col-md-12">
    <p style="font-size: 20px; text-align: justify;"> I am a lecturer at the School of Chemical Engineering,
      University of Birmingham. My research is focused on the
      interfacial behaviour of soft matter, including both
      macromolecules and colloids, in the broad context of Formulation
      Engineering and bio-related applications.</p>
    <hr>
  </div>


  <div class="col-md-12">
    <h2 style="font-size: 30px; color: #0056b3;">Introduction</h2>
    <p style="font-size: 20px; text-align: justify;">
      Zhenyu's research interest focused primarily on characterising
      soft matter, e.g. polymers, surfactants, and colloids,
      at surface or interface. Past work has been supported by
      both internal and external funding bodies including Science
      and Technology Facility Council (STFC),
      European Cooperation in Science and Technology,
      The Carnegie Trust, and industrial partners. </p>
  </div>

  <div class="row carousel-container " >
    <app-carousel></app-carousel>
  </div>

  <div class="col-md-12">
    <h2 style="font-size: 30px; color: #0056b3; margin-top: 20px; margin-bottom: 10px">News</h2>
    <p style="font-size: 20px; text-align: justify;">
      Zhenyu's research interest focused primarily on
      characterising soft matter, e.g. polymers,
      surfactants, and colloids, at surface or
      interface. Past work has been supported
      by both internal and external funding bodies
      including Science and Technology Facility Council (STFC),
      European Cooperation in Science and Technology,
      The Carnegie Trust, and industrial partners.
    </p>
  </div>


</div>






