<div class="bigborder">

  <div style="height: 100px"></div>
  <div class="buttonbox">
  <button type="button" class="btn btn-primary btn-lg topbutton1" >
    A
  </button>

  <button type="button" class="btn btn-primary btn-lg topbutton2" >
    B
  </button>

  <button type="button" class="btn btn-primary btn-lg topbutton3" >
    C
  </button>

<div>
  <button type="button" class="btn btn-primary btn-lg topbutton4" >
    D
  </button>
  <button type="button" class="btn btn-primary btn-lg topbutton5" >
    E
  </button>
</div>
  </div>

  <div class="buttonpartright">
  </div>
  <div style="height: 100px"></div>

</div>

<div class="maincontent">
<div class="bigborder" style="background-color: lightsteelblue;">

  <div class="upperspace" ></div>
  <div class="innerbox" style="font-family: 'Comic Sans MS'; ">
    <img src="../../assets/Ha.png" class="rounded-circle" width="100" height="100" style="alignment: center; margin-top: -50px">
    <h4>
      <br>
      I am Harrison, a full stack web developer.
      <br>
      <br>
      I am passionate about writing code.
      <br>
      <br>
      I have strong logical idea and prefer using all kinds of approaches to solve the problem.
      <br>
      <br>
      I have excellent communication skills and work well in the agile environment.
      <br>
      <br>
      I prefer to learn new technology and innovate new features, focus on details and fix the bugs and enhance functionality.
      <br>
      <br>
      Contact with me, or looking more.
      <br>
      <br>
    </h4>

    <div class="icons">
    <a  href= mailto:sample@163.com title="This is an HTML liked image">
      <img class="rounded-circle" src="../../assets/emailicon.png" width="45" height="45"  />
    </a>

    <a  href="https://github.com/wangzhifengharrison/zhifengwang" title="This is an HTML liked image">
      <img class="rounded-circle" src="../../assets/githubicon.png" width="45" height="45" style="margin-left: 5%"/>
    </a>

    <a  href= tel:0420909356 title="This is an HTML liked image">
      <img class="rounded-circle" src="../../assets/phoneicon.png" width="45" height="45" style="margin-left: 5%"/>
    </a>
  </div>
    <br>
  </div>
  <div class="upperspace"></div>
</div>

<div class="bigborder" style="background-color: orangered; ">

  <div  class="upperspace"></div>
  <div  class="innerbox">


    <!--<a href="tel:0420909356"> telephone</a>-->
    <!--<a title="GitHub" href="www.google.com"></a>-->

  </div>
  <div  class="upperspace" ></div>
</div>


<div class="bigborder" style="background-color: forestgreen; ">

  <div  class="upperspace"  ></div>
  <div class="innerbox" >

  </div>
  <div  class="upperspace"  ></div>
</div>

<div class="bigborder" style="background-color: orange; ">

  <div  class="upperspace"></div>
  <div class="innerbox" >

  </div>
  <div  class="upperspace" ></div>
</div>

<div class="bigborder" style="background-color: purple;">

  <div  class="upperspace" ></div>
  <div class="innerbox" >

  </div>
  <div  class="upperspace" ></div>
</div>


</div>
